@page

@using WebApplication1.Components
@using Microsoft.AspNetCore.Components.Web

@model IndexModel


@{
    ViewData["Title"] = "Christmas List Registry";
}

<div class="someclass">
<component type="typeof(Login)" render-mode="ServerPrerendered" />
</div>
